{{define "header.html"}}
<header id="header">
  <div class="container flex align-center justify-between">
    <div class="logo">Forum</div>
    <ul class="header-links flex gap-2">
      <li><a class="primary-link" href="/login">Login</a></li>
      <li><a class="primary-link" href="/register">Register</a></li>
    </ul>
  </div>
</header>
<header id="header">
  <div class="container flex align-center justify-between">
    <div class="logo">Forum</div>
    <div class="user-data flex gap-2 align-center">
      <span class="user-photo flex align-center justify-center">h</span>
      <span class="user-name">hboutale</span>
    </div>
  </div>
</header>
{{end}}
