<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="utils.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Forum</title>
  </head>
  <body>
    <header id="header">
      <div class="container flex align-center justify-between">
        <div class="logo">Forum</div>
        <ul class="header-links flex gap-2">
          <li><a class="primary-link" href="#">Login</a></li>
          <li><a class="primary-link" href="#">Register</a></li>
        </ul>
      </div>
    </header>
    <header id="header">
      <div class="container flex align-center justify-between">
        <div class="logo">Forum</div>
        <div class="user-data flex gap-2 align-center">
          <span class="user-photo flex align-center justify-center">h</span>
          <span class="user-name">hboutale</span>
        </div>
      </div>
    </header>
    <div class="container">
      <main id="main">
        <aside id="sidebar">
          <a class="create-post" href="#">Create new post</a>
        </aside>

        <section id="posts" class="flex flex-colum gap-4">
          <div class="filter flex justify-between align-center">
            <form id="filter-form" class="flex" action="" method="get">
              <input
                type="text"
                placeholder="filtre by categories"
                autocomplete="off"
                name="query"
              />
            </form>
            <div class="personal-filter flex gap-3">
              <a class="active" href="#">Liked Posts</a>
              <a href="#">My Posts</a>
            </div>
          </div>
          <div class="post flex gap-5">
            <div class="like flex flex-colum align-center justify-center gap-1">
              <a class="like-up" href="#"
                ><i class="fa-solid fa-chevron-up"></i
              ></a>
              <span class="like-count">15</span>
              <a class="like-down" href="#"
                ><i class="fa-solid fa-chevron-down"></i
              ></a>
            </div>
            <div class="content">
              <a href="#" class="title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
                ipsum dolor elit.
              </a>
              <div class="info flex gap-2 align-center">
                <i class="fa-regular fa-calendar-days"></i>
                <span>2024/05/16</span>
                <p>
                  By <span><a href="#">hboutale</a></span>
                </p>
              </div>
              <div class="tags flex gap-2 mb-2">
                <a href="#" class="tag">Bug</a>
                <a href="#" class="tag">Technology</a>
                <a href="#" class="tag">Bug</a>
              </div>
              <p class="post-content">
                sed eveniet quis officia. t praesentium odit nam. Minus
                consectetur sed eveniet qicia.
              </p>
            </div>
          </div>
          <div class="post flex gap-5">
            <div class="like flex flex-colum align-center justify-center gap-1">
              <a class="like-up" href="#"
                ><i class="fa-solid fa-chevron-up"></i
              ></a>
              <span class="like-count">15</span>
              <a class="like-down" href="#"
                ><i class="fa-solid fa-chevron-down"></i
              ></a>
            </div>
            <div class="content">
              <a href="#" class="title">
                The Importance of Good Design in Web Development
              </a>
              <div class="info flex gap-2 align-center">
                <i class="fa-regular fa-calendar-days"></i>
                <span>2024/05/16</span>
                <p>
                  By <span><a href="#">hboutale</a></span>
                </p>
              </div>
              <div class="tags flex gap-2 mb-2">
                <a href="#" class="tag">Bug</a>
                <a href="#" class="tag">Technology</a>
                <a href="#" class="tag">Bug</a>
              </div>
              <p class="post-content">
                In today's digital age, having a well-designed website is
                crucial for success. Good design enhances user experience and
                increases engagement.
              </p>
            </div>
          </div>

          <div class="post flex gap-5">
            <div class="like flex flex-colum align-center justify-center gap-1">
              <a class="like-up" href="#"
                ><i class="fa-solid fa-chevron-up"></i
              ></a>
              <span class="like-count">15</span>
              <a class="like-down" href="#"
                ><i class="fa-solid fa-chevron-down"></i
              ></a>
            </div>
            <div class="content">
              <a href="#" class="title">Understanding CSS Flexbox</a>
              <div class="info flex gap-2 align-center">
                <i class="fa-regular fa-calendar-days"></i>
                <span>2024/05/16</span>
                <p>
                  By <span><a href="#">hboutale</a></span>
                </p>
              </div>
              <div class="tags flex gap-2 mb-2">
                <a href="#" class="tag">Bug</a>
                <a href="#" class="tag">Technology</a>
                <a href="#" class="tag">Bug</a>
              </div>
              <p class="post-content">
                Flexbox is a layout model that allows you to design complex
                layouts easily and efficiently. It's a must-know for modern web
                development.
              </p>
            </div>
          </div>

          <div class="post flex gap-5">
            <div class="like flex flex-colum align-center justify-center gap-1">
              <a class="like-up" href="#"
                ><i class="fa-solid fa-chevron-up"></i
              ></a>
              <span class="like-count">15</span>
              <a class="like-down" href="#"
                ><i class="fa-solid fa-chevron-down"></i
              ></a>
            </div>
            <div class="content">
              <a href="#" class="title">A Guide to Responsive Web Design</a>
              <div class="info flex gap-2 align-center">
                <i class="fa-regular fa-calendar-days"></i>
                <span>2024/05/16</span>
                <p>
                  By <span><a href="#">hboutale</a></span>
                </p>
              </div>
              <div class="tags flex gap-2 mb-2">
                <a href="#" class="tag">css</a>
                <a href="#" class="tag">ui</a>
                <a href="#" class="tag">Bug</a>
              </div>
              <p class="post-content">
                Responsive design ensures that your website looks great on all
                devices, from mobile phones to desktops. Here’s how to implement
                it.
              </p>
            </div>
          </div>

          <div class="post flex gap-5">
            <div class="like flex flex-colum align-center justify-center gap-1">
              <a class="like-up" href="#"
                ><i class="fa-solid fa-chevron-up"></i
              ></a>
              <span class="like-count">15</span>
              <a class="like-down" href="#"
                ><i class="fa-solid fa-chevron-down"></i
              ></a>
            </div>
            <div class="content">
              <a href="#" class="title">SEO Best aractices for Beginners</a>
              <div class="info flex gap-2 align-center">
                <i class="fa-regular fa-calendar-days"></i>
                <span>2024/05/16</span>
                <p>
                  By <span><a href="#">hboutale</a></span>
                </p>
              </div>
              <div class="tags flex gap-2 mb-2">
                <a href="#" class="tag">sports</a>
                <a href="#" class="tag">Technology</a>
                <a href="#" class="tag">Bug</a>
              </div>
              <p class="post-content">
                Search Engine Optimization (SEO) is essential for driving
                traffic to your website. Here are some best practices to get you
                started.
              </p>
            </div>
          </div>

          <div class="post flex gap-5">
            <div class="like flex flex-colum align-center justify-center gap-1">
              <a class="like-up" href="#"
                ><i class="fa-solid fa-chevron-up"></i
              ></a>
              <span class="like-count">15</span>
              <a class="like-down" href="#"
                ><i class="fa-solid fa-chevron-down"></i
              ></a>
            </div>
            <div class="content">
              <a href="#" class="title">JavaScript Tips and Tricks</a>
              <div class="info flex gap-2 align-center">
                <i class="fa-regular fa-calendar-days"></i>
                <span>2024/05/16</span>
                <p>
                  By <span><a href="#">hboutale</a></span>
                </p>
              </div>
              <div class="tags flex gap-2 mb-2">
                <a href="#" class="tag">Bug</a>
                <a href="#" class="tag">Technology</a>
                <a href="#" class="tag">Bug</a>
              </div>
              <p class="post-content">
                JavaScript is a powerful programming language. Here are some
                tips and tricks to help you write better and cleaner
                code.avaScript is a powerful programming language. Here are some
                tips and tricks to help you write better and cleaner
                code.avaScript is a powerful programming language. Here are some
                tips and tricks to help you write better and cleaner code.
              </p>
            </div>
          </div>
          <ul class="pagination flex gap-4 m-auto">
            <li><a href="#">1</a></li>
            <li><a href="#" class="selected">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </section>
      </main>
    </div>
  </body>
</html>
