<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="utils.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Login</title>
  </head>
  <body>
    <header id="header">
      <div class="container flex align-center justify-between">
        <div class="logo">Forum</div>
        <div class="user-data flex gap-2 align-center">
          <span class="user-photo flex align-center justify-center">h</span>
          <span class="user-name">hboutale</span>
        </div>
      </div>
    </header>
    <form action="" id="login-form" class="flex flex-colum gap-4" method="post">
      <h2>Create a new account</h2>
      <input type="text" placeholder="Email" name="email" id="" />
      <input type="text" placeholder="Username" name="username" id="" />
      <input type="password" placeholder="Password" name="password" id="" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
